
.carousel_container{
    width:100%;
    display:flex;
    align-items:center;
    flex-shrink:0;
    overflow:hidden;
    font-family: var(--font-geist);
}

/* .carousel_container::-webkit-scrollbar{
    display: none;
} */

.carousel_container>P{ 
    font-size:1.6rem;
    color:grey;
    padding: 0 60px 0 0;
    text-wrap:nowrap;
    font-weight:300;
}
@media (min-height: 1000px ) {
    
}