/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* work on font */
/* Set default font and background color */
body {
    font-family:var(--font-bungee);
    background-color: #f4f4f9;
    color: #333;
}

