

.header{
    width: 100%;
    height: 65px;
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.655); */
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header_button_container{
    display: flex;
    gap: 10px;
}

.buttons{
    height: 40px;
    width: fit-content;
    padding: 5px 10px;
    background-color: rgb(137, 137, 224);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
.links{
    display: flex;
    align-items: center;
    color: white ;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px){
    .buttons{
        height: 40px;
        width: fit-content;
        padding: 5px 10px;
        background-color: rgb(137, 137, 224);
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
}