

.homepage{
    max-width: 100vw;
    min-height: 100vh;
    background-color: black;
    padding: 0 2vw;
}

.about_site{
    display: flex;
    align-items: center;
    flex-direction:column;
    gap: 13px;
    height: 80%;
    width: 100%;
    padding: 60px 0;

}

.site_description,.site_sub_description{
    
    text-align:center;
    font-weight:bold;
}
.site_description{
    color:white;
    font-size: 1.7rem;
}
.site_sub_description{
    color:grey;
    font-weight: bold;
    font-size:0.7rem;
    line-height: 1.2rem;
    font-family: var(--font-geist);
}

@media (min-width :768px ) {
    .homepage{
        padding: 0 7vw;
    }
    .about_site{
        height: 80vh;
    }
    .site_description{
        font-size: 3.81rem;
        line-height: 4rem;
    }
    .site_sub_description{
        font-size: 0.77rem;
    }
}
@media (min-width: 1110px) {
    .site_description{
        font-size: 5rem;
        line-height: 5rem;
    }
    .site_sub_description{
        color:grey;
        font-weight: normal;
        letter-spacing: 0.1rem;
        font-size:1rem;
        line-height: 1.7rem;
    }
}
@media(max-width: 1000px)and (min-height: 900px ) {
    .about_site{
        height: 56vh;
    }
}